* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat924.cur), auto;
}

a:hover,
button:hover {
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat928.cur), pointer;
}
