* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: url('../public/cursor/idle.cur'), url('../public/cursor/idle.webp'), auto;
}

a:hover,
button:hover {
  cursor: url('../public/cursor/pointer.cur'), url('../public/cursor/pointer.webp'), pointer;
}
