:root {
    /* Colors */
    --color-text-primary: #fff;
    --color-text-secondary: #000;

    --color-primary: #000;

    --color-secondary: #fff;
    --color-secondary-rgb: 25, 55, 109;

    --color-dark: #0b2447;

    --color-light-: #A5D7E8; /* Unused */
    --color-light-rgb: 165, 215, 232;
    
    --color-bg: #04152d;

    /* Fonts */
    --font-roboto: "Roboto";
}