@import "../../vars.css";
@import "../../wave.css";

.backgroundColor {
  background-color: var(--color-primary);
}

.container {
  position: relative;
  z-index: 1;
  border-radius: 15px;
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 34px;
}

.title {
  position: relative;
  margin-bottom: 2.5%;
  color: var(--color-text-primary);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImg {
  width: 450px;
}

.animated {
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.aboutItems {
  position: relative;
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 20px;
  background: var(--color-primary);
  padding: 20px 68px 20px 20px;
  border: 2px solid var(--color-secondary);
}

.aboutItems::before {
  content: '';
  position: absolute;
  top: 35%;
  left: -30px;
  transform: translateY(-50%) rotate(90deg);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--color-secondary);
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
}

.aboutItem:nth-child(odd) {
  background-image: linear-gradient(
    90deg,
    rgba(var(--color-accent-1-rgb), 0.42) 0%,
    rgba(var(--color-secondary-rgb), 0) 100%
  );
}

.aboutItem:nth-child(even) {
  background-image: linear-gradient(
    90deg,
    rgba(var(--color-accent-2-rgb), 0.42) 0%,
    rgba(var(--color-secondary-rgb), 0) 100%
  );
}

.aboutItem:nth-child(3n) {
  background-image: linear-gradient(
    90deg,
    rgba(var(--color-accent-3-rgb), 0.42) 0%,
    rgba(var(--color-secondary-rgb), 0) 100%
  );
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem:hover .aboutItemText {
  text-shadow: 2px 2px 4px var(--color-text-secondary);
  transform: translateX(5%);
}

.aboutItemText {
  transition: 0.4s;
}

.aboutItem img {
  width: 79px;
  height: 79px;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem:nth-child(odd) h3 {
  color: var(--color-accent-1);
}

.aboutItem:nth-child(even) h3 {
  color: var(--color-accent-2);
}

.aboutItem:nth-child(3n) h3 {
  color: var(--color-accent-3);
}

.aboutItem p {
  font-size:  25px;
}

@media screen and (max-width: 1080px) { 
  .container {
    padding-bottom: 54px;
  }

  .content {
    flex-direction: column;
  }

  .aboutImg {
    max-width: 100%;
  }

  .aboutItems::before {
    top: -10px;
    left: 50%;
    transform: translateY(-50%) rotate(180deg);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--color-secondary);
  }

  .aboutItem {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 480px) { 
  .aboutItems {
    padding-right: 20px;
  }

  .aboutItem:hover .aboutItemText {
    transform: translateX(0);
  }

  .aboutItem img {
    display: none;
  }
}