@import "../../vars.css";

.container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(--color-dark);
  box-shadow: 0 2px 8px -2px var(--color-secondary);
  padding: 18px 24px;
  max-width: 345px;
}

.container:nth-child(odd) {  
  background: linear-gradient(
  180deg,
  var(--color-accent-1) 0%,
  var(--color-secondary) 100%
  );
}

.container:nth-child(even) {  
  background: linear-gradient(
  180deg,
  var(--color-accent-2) 0%,
  var(--color-secondary) 100%
  );
}

.container:nth-child(3n) {  
  background: linear-gradient(
  180deg,
  var(--color-accent-3) 0%,
  var(--color-secondary) 100%
  );
}

.img {
  margin-bottom: 26px;
}

.title {
  color: var(--color-text-secondary);
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  color: var(--color-text-secondary);
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  color: var(--color-text-primary);
  font-size: 25px;
  font-weight: 400;
  text-shadow: 2px 2px var(--color-text-secondary);
  border-radius: 100px;
  background: var(--color-primary);
  padding: 2px 22px;
}

.skills .skill {
  background: var(--color-accent-1);
}

.skills .skill:nth-child(3n + 2) {
  background: var(--color-accent-2);
}

.skills .skill:nth-child(3n + 3) {
  background: var(--color-accent-3);
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  transform: translateY(-2px) rotate(-2deg);
  animation: shake 0.5s ease-in-out infinite;
  background: var(--color-dark);
  background: repeating-linear-gradient(
    45deg,
    var(--color-accent-1) 0 20%,
    var(--color-accent-2) 0 40%,
    var(--color-accent-3) 0 60%
  );
  color: black;
  outline: 3px solid black;
  outline-offset: -3px;
  text-shadow: 2px 2px var(--color-text-primary);
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px) rotate(-3deg); }
  40% { transform: translateX(3px) rotate(2deg); }
  60% { transform: translateX(-2px) rotate(-2deg); }
  80% { transform: translateX(5px) rotate(4deg); }
  100% { transform: translateX(0); }
}
