@import "../../vars.css";
@import "../../wave.css";

.backgroundColor {
  background-color: var(--color-secondary);
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text-secondary);
  z-index: 1;
}

.title {
  position: relative;
  font-size: 72px;
  font-weight: 900;
  margin-top: 210px;
  margin-bottom: 33px;
  font-family: var(--font-comfortaa);
  background: var(--color-text-primary);
  background: linear-gradient(
    90deg,
    rgba(var(--color-text-secondary-rgb), 1) 70%,
    rgba(var(--color-text-primary-rgb), 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.title::selection{
  -webkit-text-fill-color: var(--color-text-secondary);
}

.description {
  margin-bottom: 52px;
  min-height: 230px;
  min-width: 490px;
  font-size: 30px;
  font-family: var(--font-comfortaa);
}

.heroImg {
  margin: -25px 0 25px auto;
  width: 800px;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0, 10px) rotate(-1deg);
  }
  100% {
    transform: translate(0, -0px) rotate(0deg);
  }
}

@media screen and (max-width: 1440px) {
  
  .container {
    flex-direction: column-reverse;
    margin-top: 82px;
    margin-bottom: -72px;
  }

  .content {
    align-items: center;
  }

  .title {
    text-align: center;
    margin-top: 0;
  }

  .description {
    font-size: 26px;
  }

  .heroImg {
    margin-left: 0;
    max-width: 100%;
    margin-bottom: 5%;
  }
}