@import "../../vars.css";

.container {
  position: relative;
  margin-top: -125px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 3;
  contain: layout style;
}

.svg {
  width: 100%;
  height: 100%;
}

.text {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: inherit;
  opacity: 0.9;
}

.primary {
  fill: var(--color-primary);
}

.secondary {
  fill: var(--color-secondary);
}